* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: "Roboto", sans-serif;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: whitesmoke;
    padding: 15px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

header h1 {
    color: steelblue;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid steelblue;
    background-color: rgba(210, 180, 140, 0.8);
}

img {
    width: 200px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 20px;
}

main {
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
    margin: 1rem;
    flex-wrap: wrap;
}

main img {
    width: 200px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: 10px auto;
    display: block;
}

header, footer {
    max-width: 840px;
    margin: 0 auto;
}

footer {
    text-align: center;
    border-top: 1px solid black;
    padding: 10px;
}

footer .info-links {
    margin-bottom: 10px;
}

.info-links {
    width: 100%;
    list-style-type: none;
    padding: 20px;
    box-shadow: 0 0 10px gray;
    border: 1px solid rgba(0, 90, 245, 0.8);
    background-color: rgba(210, 180, 140, 0.8);
    color: #000;
}

.info-links ul {
    padding-left: 20px; /* Adjusted padding to keep bullets inside the border */
}

.info-links li {
    margin-bottom: 10px;
    list-style-position: inside; /* Ensure bullets are inside the border */
}

.info-links a {
    color: steelblue;
    text-decoration: none;
}

h2 {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    text-align: center; /* Center the lines under h2 titles */
}

.box2 {
    clear: both;
    margin: 10px;
    border: 1px solid rgba(0, 90, 245, 0.8);
    padding: 10px;
    background-color: rgba(210, 180, 140, 0.8);
    color: #000;
}

.box2 a {
    color: steelblue;
    text-decoration: none;
   
}
.box2 li {
    margin-left: 20px;
}

.card {
    width: 45%;
    background-color: rgba(210, 180, 140, 0.8);
    border: 1px solid rgba(0, 90, 245, 0.8);
    padding: 10px;
    box-shadow: 0 0 10px gray;
    margin-bottom: 20px;
}

.info-links {
    margin-left: 0; /* Align the Web Dev Resources box to the far left */
}
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  