* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    /* width: 100%; */
}

header {
    background-color: #3b0058;
    color: white;
    padding: 10px;
    text-align: center;
    max-width: 400px;
    width: 100%;
}

main {
    background-color: #e0d0e1;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    width: 90%;
    max-width: 400px;
}

/* form {
    display: flex;
    flex-direction: column;
} */

/* label, legend {
    margin: 10px 0 5px;
} */

input[type="text"], input[type="date"], textarea, select {
    margin-bottom: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 360px;
}

input[type="submit"] {
    margin-top: 10px;
    background-color: #4c0070;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px;
    text-align: center;
}

input[type="submit"]:hover {
    background-color: #3b0058;
}

/* fieldset {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px;
} */

/* ------------------ FORM STYLING -------------------*/
.form-body fieldset {
    margin: 1rem 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .1rem 2%;
}

.form-body legend {
    color: rgb(35, 8, 79);
    padding: 0 .5rem;

}

.form-body label {
    display: block;
    padding-top: 1rem;
    padding-bottom: .5rem;
    color: rgb(35, 8, 79);
    font-size: 1rem;
}

.radio, .radio label, .radio input {
    display: flex;
    align-items:flex-start;
    margin-right: 5px;
}

/* ------------------ FOOTER -------------------*/
footer {
    text-align: center;
    border-top: 1px solid black;
    padding: 10px;
    background-color: #3b0058;
    color: white;
    width: 100%;
    max-width: 400px;
}

/* ------------------ FORM STYLING -------------------*/
