* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --background-color: #232c43;
    --box-background-color: rgba(255, 255, 255, 0.8);
    --font-color1: black;
    --font-color2: #fff;
    --hover-border-color: #ff9900;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header, footer {
    background-color: var(--background-color);
    color: var(--font-color2);
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}

header h1 {
    margin: 0;
}

main {
    width: 100%;
    max-width: 1200px;
    background-color: var(--font-color2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.image-section {
    position: relative;
}

.hero-image {
    width: 100%;
    height: auto;
}

.hero-image img {
    width: 100%;
    height: auto;
    display: block;
}

.data-box, .weather-box {
    position: absolute;
    background-color: var(--box-background-color);
    padding: 1rem;
    border-radius: 8px;
    width: 350px;
    top: 20px;
    transition: all 0.3s ease;
}

.data-box {
    left: 20px;
}

.weather-box {
    right: 20px;
}

.data-box:hover::after, .weather-box:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid var(--hover-border-color);
    border-radius: 8px;
    pointer-events: none; 
    box-sizing: border-box;
}

.data-box h2, .weather-box h2 {
    margin-top: 0;
    text-align: center;
}

.data-box ul, .weather-details {
    list-style: none;
    padding: 0;
    margin: 0;
}

.data-box li, .weather-details p {
    margin: 0.5rem 0;
    display: flex;
    justify-content: left;
}

.label {
    min-width: 150px;
    text-align: right;
    padding-right: 20px;
    display: inline-block;
}

.weather-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-icon {
    width: 60px;
    height: 60px;
    margin-right: 1rem;
}

.weather-details p {
    margin: 0.5rem 0;
    text-align: left;
}

@media (max-width: 600px) {
    .data-box, .weather-box {
        position: static;
        margin: 1rem auto;
        width: 80%;
    }

    .weather-info, .data-info {
        flex-direction: column;
        text-align: center;
    }

    .weather-icon {
        margin-bottom: 1rem;
        margin-right: 0;
    }

    .hero-image img {
        width: 100%;
        height: auto;
    }

    .image-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main {
        box-shadow: none;
    }

    .label {
        min-width: 100px;
    }
}

footer p {
    margin: 0.5rem 0;
}
