* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    display: flex;
    color: whitesmoke;
    justify-content: space-evenly;
    align-items: center;
    background-color: steelblue;
    padding: 10px
}

nav a {
    color: whitesmoke;
    display: block;
    padding: 15px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    
}

h1 {
    color: steelblue;
    /* display: block; */
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid steelblue;
    /* max-width: 840px; */
    

}

img {
    width: 200px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;

}

p {
    padding: 20px;
}
main {
    /* max-width: 840px; */
    font-size: 1.2rem;
    grid-column: 2/3;
    margin: 1rem
}
main img {
    width: 180px;
    height: auto;
    float: right;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: 30px 4px 1px 1px;

}
aside  {
    display: block;
    width: 20rem;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

header, footer, .grid {
    margin: 0 auto;
    max-width: 840px;
}

footer {
    max-width: 840px;
    text-align: center;
    border-top: 1px solid black;
    margin: 0 auto; /* Center the footer horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside h2 {
    position: absolute;
    top: 70px;
    right: 95px;
}


/* Class Selectors */
.box, .box2{
    clear: both;
    margin: 1.5rem;
    border: 1px solid rgba(0, 90, 245, 0.8);
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(210,180,140,0.8);
    color: #000;
    
}
.box2, a {
    padding-left: 30px;
    color: steelblue;
}

.image2 {
    margin-top: 40px;
}

.grid {
    display: grid;
    align-items: center;

}
